body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.filters {
    margin-bottom: 20px;
}

.filters button {
    padding: 10px 15px;
    margin: 5px;
    background-color: #676ec0;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.filters button:hover {
    background-color: #555555;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.item {
    width: 300px;
    height: 200px;
    overflow: hidden;
    display: none; 
    position: relative;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.item img:hover {
    transform: scale(1.1);
}
